<!-- base_generic.html or any other template -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D-Chat</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <header class="header">
        <a style="text-decoration: none;" href="/">
            <button class="change-button">Back</button>
        </a>
        <h1 class="logo">D-Chat</h1>
        <nav style="display:none">
            {% if user.is_authenticated %}
                <form id="logout-form" action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
        </nav>
    </header>
    <main class="main-block">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
